# CELERY
CELERY_HOST=10.132.0.34
CELERY_BROKER=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
CELERY_BACKEND_URL=redis://redis:6379/0
CELERY_BROKER_USERNAME=guest
CELERY_BROKER_PASSWORD=guest

# ENVIRONMENT THE PIPELINE IS HOSTED production or development
HOST_ENVIRONMENT=development

# ACCESS PORTS
API_SERVER_PORT=8080
FLOWER_ACCESS_PORT=8888

# GCLOUD
GC_PROJECT=sobolt-plantfellow
GOOGLE_APPLICATION_CREDENTIALS=/data/sobolt-plantfellow-b2afe4b140cb.json

# DOCKER CONFIG
PIPELINE_OUTPUT_FOLDER=/data

VM_NAME_PREFIX=development

# clean up intermediate results?
CLEANUP=false

# WORKER CONCURRENCY PARAMETER
WORKER_CONCURRENCY=8

# API-SERVER - pubsub_worker
DOCKER_API_SERVER_URL=http://api-server:80

# PUBSUB - pubsub_listener
GCP_TOPIC=flex-dev
GCP_SUBSCRIPTION=flex-dev-sub

# PUBSUB - google bucket
GCP_BUCKET=flex-dev

# PUBSUB - archive json file path
ARCHIVE_JSON=/data/archive_files.json

# upload to letsgrow?
UPLOAD_LETSGROW=false

# LetsGrow api credentials
LETSGROW_API_USERNAME=jvdauweraert
LETSGROW_API_PASSWORD='2kzeYC3bX5w$k30A'
